<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Update Doctor Information</h1>
        <button class="button" ng-click="modal.hide()">
            <i class="icon ion-close-round"></i>
        </button>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" ng-model="doctor.name" placeholder="Name">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="doctor.email" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="text" ng-model="doctor.visitingHours" placeholder="Visiting Hours">
            </label>
            <button class="button button-full button-positive" ng-click="updateDoctor()">
                Update Information
            </button>
        </div>
    </ion-content>
</ion-modal-view>
