<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-text-wrap text-center">
        <img src="img/logo.png">
      </div>
    </div>
    <div class="list card">
      <h1 class="item item-divider"><strong>e-Prescription</strong></h1>
      <div class="item item-body">
        <div>
          You have <b>1</b> new prescription!
        </div>
      </div>
    </div>
    <div class="list card">
      <h1 class="item item-divider title"><strong>Upcoming Appointment</strong></h1>
      <div class="item item-body">
        <div>
          You have a doctor's appointment in <b>3</b> days!
        </div>
      </div>
    </div>
    <div class="list card">
      <h1 class="item item-divider title"><strong>Medical Diagnostic</strong></h1>
      <div class="item item-body">
        <div>
          Provide urine sample <b>tomorrow</b> at <b>8 AM</b>.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
